*{
    font-size: 25px ;
}
.width1 {
    border: 2px dashed blue;
    width: 350px;
}
.width2 {
    border: 2px solid black;
    width: 40vmax;
}
.width3 {
    border: 2px solid gold ;
    width:  40%;
}
div {
    margin: 10px;
}
.l1, .l2, .l3 {
    border: 3px solid gray;
    margin: 10px;
    padding: 10px ;
    font-size: 1.3em;
}
 [class|=in] {
    background-color: rebeccapurple;
 }
div p{
    color: brown;
}
p ~ section {
    color: blue;
}